:root {
  --s: 25px;
  /* control the size */

  --_g: olive 90deg, #fdac53;
  background: conic-gradient(from 90deg at 3px 3px, var(--_g)),
    conic-gradient(from 90deg at 3px 3px, var(--_g));
  background-size: var(--s) var(--s), calc(var(--s) / 5) calc(var(--s) / 5);
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 25px;
  font: timesnewroman;
  background-color: linen;
  color: midnightblue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 3px solid midnightblue;
  border-radius: 10px;
}

.post-card-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  flex-direction: column;
  padding-top: 75px;
  justify-content: space-evenly;
  max-width: 100%;
}

.search-bar-form {
position: absolute;
display: inline;
padding-top: 5px;
margin-top: 35px;
margin-left: 50px;
width: 900px;
height: 25px;
border-radius: 10px;
background-color: linen;
border: 3px solid midnightblue;
}

.post-card {
  display: inline-grid;
  justify-content: space-evenly;
  justify-items: stretch;
  background-color: #34568b;
  opacity: 0.95;
  border: 3px solid midnightblue;
  margin-left: 35px;
  padding-left: 15px;
  font: timesnewroman;
  font-size: 12pt;
  line-height: 20pt;
  color: antiquewhite;
  width: 250px;
  height: 400px;
  word-wrap: break-word;
  padding: 25px;
  border-radius: 10px;
  margin: 10px 10px;
  overflow-y: scroll;
}



.flip-card-back {
  word-wrap: break-word;
  justify-content: flex-start;
  color: antiquewhite;
  background-color: #0072b5;
}

/* .post-img {
  height: 200px;
  width: 250px;
  padding: 2 px;
  border: 12 px solid lawngreen;
  border-radius: 10px;
} */

/* .post-img-back {
  height: 200px;
  width: 250px;
  line-height: 30pt;
  padding: 2 px;
  border: 12 px solid lawngreen;
  border-radius: 10px;
} */


.details {
  position: sticky-bottom;
  background-color: #ff6f61;
  color: midnightblue;
  font-size: 12pt;
  font-weight: bolder;
  font: timesnewroman;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid #ffffff;
}

.details:hover {
  color: #ff6f61;
  background-color: #ffffff;
  border: 2px solid #ff6f61;
}





.delete {
  background-color: #fdac53;
  color: #ffffff;
  font-size: 12pt;
  font-weight: bold;
  font: timesnewroman;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid #ffffff;
}
  
.delete-button:hover {
  color: tomato;
  background-color: #ffffff;
  border: 2px solid tomato;
}


.flip {
  position: sticky;
  background-color: goldenrod;
  color: antiquewhite;
  font-size: 12pt;
  font-weight: bolder;
  font: timesnewroman;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid #ffffff;
}

.flip:hover {
  color: #ff69b4;
  background-color: #ffffff;
  border: 2px solid #ff69b4;
}



.sign-up-form {
  display: inline-table;
  justify-content: stretch;
  background-color: #0072b5;
  opacity: 0.95;
  border: 4px solid midnightblue;
  margin-left: 33%;
  margin-top: 100px;
  font: timesnewroman;
  font-size: 12pt;
  font-weight: bolder;
  line-height: 30pt;
  color: antiquewhite;
  flex-wrap: wrap;
  padding: 25px;
  border-radius: 10px;
  overflow-y: scroll;
}

.newPost-form {
  display: inline-table;
  justify-content: stretch;
  background-color: #f7cac9;
  opacity: 0.95;
  border: 3px solid midnightblue;
  margin-left: 33%;
  margin-top: 100px;
  font: timesnewroman;
  font-size: 10pt;
  font-weight: bolder;
  line-height: 30pt;
  color: midnightblue;
  flex-wrap: wrap;
  padding: 25px;
  border-radius: 10px;
  overflow-y: scroll;
}

.submit {
  bottom: 10px;
  justify-content: center;
  background-color: #fdac53;
  color: #ffffff;
  border: none;
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px;
  border: 3px solid #ffffff;
}
.reset {
  bottom: 10px;
  justify-content: center;
  background-color: #ff69b4;
  color: #ffffff;
  border: none;
  padding: 7px;
  margin-left: 5px;
  border-radius: 5px;
  border: 2px solid #ffffff;
}


.profile-log-item {

  display: inline-table;
  justify-content: stretch;
  background-color: #0072b5;
  opacity: 0.95;
  border: 4px solid midnightblue;
  margin-left: 33%;
  margin-top: 100px;
  font: timesnewroman;
  font-size: 12pt;
  font-weight: bolder;
  line-height: 30pt;
  color: antiquewhite;
  flex-wrap: wrap;
  padding: 25px;
  border-radius: 10px;
  overflow-y: scroll;
}
.profile-header {
margin-left: 33%;
margin-top: 100px;
font: timesnewroman;
font-size: 12pt;
font-weight: bolder;
line-height: 30pt;
color: antiquewhite;	

	
}
.profile-log-button {
  position: fixed;
  justify-content: center;
  bottom: 50px;
  background-color: #ff69b4;
  color: antiquewhite;
  font: timesnewroman;
  font-size: 16pt;
  font-weight: bolder;
  font: timesnewroman;
  padding: 10px;
  border-radius: 15px;
  border: 5px solid #ffffff;
}
