:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.newpost-form {

display: inline;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: linen;
  opacity: .95;
  border: 5px solid lightcoral;
  font: timesnewroman;
  font-size: large;
  font-weight: bolder;
  font-stretch: wider;
  line-height: 25pt;
  color: black;
  width: 250px;
  height: 400px;
  word-wrap: break-word;
  padding: 25px;
  border-radius: 10px;
  margin: 10px 10px;


}

.post-card-container {

  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 25px;
  justify-content: space-evenly;
  max-width: 100%;


}

.post-card {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  background-color: linen;
  opacity: .95;
  border: 5px solid lightcoral;
  font: timesnewroman;
  font-size: 12px;
  font-weight: bolder;
  line-height: 14pt;
  color: black;
  width: 300px;
  height: 400px;
  word-wrap: break-word;
  padding: 25px;
  border-radius: 10px;
  margin: 10px 10px;
  overflow-y: scroll;
}

.flip-card-back {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
    align-items: flex-start;
  color: black; 
  background-color: powderblue;
}


.post-img {
  height: 200px;
  width: 250px;
  padding: 2 px;
  border: 12 px solid lawngreen;
  border-radius: 10px;

}

.post-img-back {
  height: 200px;
  width: 250px;
  line-height: 30pt;
  padding: 2 px;
  border: 12 px solid lawngreen;
  border-radius: 10px;

}

.details {

  position: sticky;
  background-color: #5E9FA3;
  color: #B55A30;
  font-size: 12pt;
  font-weight: bolder;
  font: timesnewroman;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid #FFFFFF
}

.details:hover {
  color: cornflowerblue;
  background-color: #FFFFFF;
  border: 2px solid cornflowerblue
}

.delete {
  background-color: #FDAC53;
  color: #FFFFFF;
  font-size: 12pt;
  font-weight: bold;
  font: timesnewroman;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid #FFFFFF
}

.stash {

  position: sticky;
  background-color: darkolivegreen;
  color: antiquewhite;
  font-size: 12pt;
  font-weight: bolder;
  font: timesnewroman;
  padding: 5px;
  border-radius: 5px;
  border: 3px solid #FFFFFF
}

.flip {

  position: sticky;
  background-color: goldenrod;
  color: antiquewhite;
  font-size: 12pt;
  font-weight: bolder;
  font: timesnewroman;
  padding: 5px;
  border-radius: 5px;
  border: 3px solid #FFFFFF
}


.delete-button:hover {
  color: tomato;
  background-color: #FFFFFF;
  border: 2px solid tomato
}

.nav {
  top: 0%;
  background-color: linen;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 3px solid lightcoral;
  border-radius: 10px;
}

.newPlayer-form {

  background-color: lightslategray;
  border: 3px solid lightcoral;
  font: times;
  color: purple;
  width: 250px;
  height: 400px;
  word-wrap: break-word;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 10px;
}

.reset {
  bottom: 10px;
  justify-content: center;
  background-color: tomato;
  color: #FFFFFF;
  border: none;
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px;
  border: 2px solid #FFFFFF
}

.submit {
  bottom: 10px;
  justify-content: center;
  background-color: forestgreen;
  color: #FFFFFF;
  border: none;
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px;
  border: 2px solid #FFFFFF
}
